.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 50px;
  font-family: 'Nunito', sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.2);
  border-radius: 10px;
}
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
.weather-container { 
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px 0;
  width: 100%;
}
.weather-container div {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px 0;
}
.weather-container h1 {
  font-size: 25px;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
.weather-container p {
  font-size: 18px;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
.city-name { 
  font-size: 25;
  margin-left: 5px;
}
.city { 
  font-size: 25;
  color: rgb(76, 195, 6);
}
.cloud { 
  font-size: 25;
  color: rgb(99, 95, 145);
}
.cloud-name { 
  font-size: 25;
  margin-left: 5px;
}
.sun { 
  font-size: 25;
  color: rgb(220, 23, 23);
}
.sun-name { 
  font-size: 25;
  margin-left: 5px;
}
.windy { 
  font-size: 25;
  color: rgb(67, 192, 230);
}
.wind-name { 
  font-size: 25;
  margin-left: 5px;
}
.pressure { 
  font-size: 25;
  color: rgba(11, 0, 11, 0.88);
}
.humid { 
  font-size: 25;
  color: rgba(24, 154, 174, 0.88);
}
.logo {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: 200px;
  margin-bottom: 20px;
}
